@{ 
    var imagePath = $"../Images/{(string)Session["CurrentComic"]}/{(int)Session["pageNum"]}.png";
    //var imagePath = "../Images/JFrasersWebseries/1.png";
    if(!System.IO.File.Exists(Server.MapPath(imagePath)))
    {
        imagePath = $"../Images/{(string)Session["CurrentComic"]}/{(int)Session["pageNum"]}.jpg";
    }
    }

<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/Reader.css" rel="stylesheet" />
</head>
<body>
    <div id="middle_container" class="box">
        <ul class="comicNav">
            <li>
                <a href ="#" onclick="location.href='@Url.Action("FirstPage", "Home")'" > << </a>
            </li>
            <li>
                <a href ="#" onclick="location.href='@Url.Action("DecrementPage", "Home")'" > < </a>
            </li>
            <li>
                <a href ="#" onclick="location.href='@Url.Action("IncrementPage", "Home")'" > > </a>
            </li>
            <li>
                <a href ="#" onclick="location.href='@Url.Action("LastPage", "Home")'" > >> </a>
            </li>
            <li>
                <select>
                    <option>
                        Chapter 1
                    </option>
                    <option>
                        Chapter 2
                    </option>
                    <option>
                        Chapter 3
                    </option>
                </select>
            </li>
        </ul>
        <div id="comic">
            <img id ="image"src=@imagePath title="Couldn't find any pages associated with this comic! Try adding some." />
            <script>
                console.log(document.getElementById("image").src);
            </script>

        </div>
    </div>

    <!--Reference: https://www.c-sharpcorner.com/article/upload-files-in-asp-net-mvc-5/-->
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <br />
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
            @ViewBag.Message
        </div>
    }
</body>
</html>
