@{
    // If Session userID is null, redirect us to our index.
    /*
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~");
    }
    */

}

@*
    REF: https://stackoverflow.com/questions/62423827/how-to-hide-log-in-and-sign-up-event-when-login-success-in-asp-net-mvc
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pilot Comics", "Main", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*View Comics instead of "Main" so we get everything ready.*@
                    <li>@Html.ActionLink("Main Page", "viewComics", "Home")</li>
                    <li>@Html.ActionLink("Reader", "Reader", "Home")</li>
                    <li>@Html.ActionLink("Search", "Search", "Home")</li>
                    <li>@Html.ActionLink("Communities", "Community", "Home")</li>
                    <li>@Html.ActionLink("Set Tags", "SetTags", "Home")</li>
                    @if (Session["userID"] == null && Session["adminID"] == null)
                    {
                        <li id="loginIndex">@Html.ActionLink("Login", "Index", "Home")</li>
                    }
                    else
                    {
                        <li id="logoutIndex">@Html.ActionLink("Logout", "htSOUT", "Home")</li>
                    }
                </ul>
                <ul class="nav pull-right">
                    <li>
                        @if (Session["userID"] != null)
                        {
                            <label style="color:aliceblue">Signed in As: @Session["userID"]</label>
                        } else if (Session["adminID"] != null) { 
                            <label style="color:aqua">Admin: @Session["adminID"]</label>
                        }
                    </li>
                </ul>
            </div>
            @*
                <div class="navbar-collapse collapse" id="navbarSIN" style="text-align: right;">
                    <ul class="nav pull-right">
                        <li>
                            <label >Signed in As: @Session["userID"]</label>
                        </li>
                    </ul>

                </div>
            *@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>